@media (max-width: 768px) {
  main {
    .student {
      &-menu {
        display: flex;
        flex-flow: column nowrap;
        &-buttons {
          height: 100px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
        }
      }
      &-content {
        box-shadow: none;
        &-info {
          &-personal {
            img {
              margin-left: 0px;
            }
            &-chart {
              margin-right: 0px;
            }
          }
          &-button {
            justify-content: center;
          }
          &-radar {
            width: 80%;
          }
        }
      }
    }
  }

  #excel-view-student {
    height: 90vh;
    width: 300px;
    padding: 0px;
  }
}
